*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}

nav{
    display: flex;
    gap: 12px;
    justify-content: center;
}
nav>a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.hero{
    display: none;
}
.mobile-hero{
    height: 100vh;
    background-image: url(images/hero\ image.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    display: flex;
    justify-content: center;
    flex-direction: column;
   padding: 20px;
    background: linear-gradient(0,0,0,0,6),rgba(0,0,0,0,6);
    
}
.mobile-hero>div{
    animation: fadein 4s ease 2;
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.mobile-hero>div>h1{
    font-size: 38px;
    font-family: monospace;
}
.mobile-hero>div>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    color: #272727;
    margin-bottom: 23px;
    font-weight: 540;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border-radius: 9px;
    padding: 10px;
    animation: pulse 2s ease infinite;
}
.hero-btn:hover{
    background-color: #702d2d;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.about-section{
    padding: 10px;
    padding-top: 50px;
    background-color: black;
}
.about-section>h2{
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}
.about-section>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 23px;
    font-size: 18px;
    color: white
}

.service-section{
    padding: 20px;
}
.service-cont>h2{
    margin-bottom: 20px;
    font-family: monospace;
}
.service-list{
    margin-bottom: 10px;
}
.service-list>h3{
    color: #702d2d;
}
.service-list>p{
    text-align: justify;
    line-height: 22px;
    color: #272727;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.portfolio{
    padding: 20px;
}
.portfolio>div>h2{
    margin-bottom: 20px;
}
.projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project-list{
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    justify-content: end;
    align-items: center;
    padding: 0px 0px 20px 0px;
    border-radius: 12px;
    }

.project-list>.project-btn{
    font-size: 20px;
    text-decoration: none;
    border: 3px solid #702d2d;
    border-radius: 8px;
    padding: 8px 18px;
    font-weight: bold;
    background-color: #702d2d;
    color: white;
}
.project-list>h2{
}
.project-list>p{
    text-align: center;
    margin-bottom: 10px;
    color: #272727;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.project-list>img{
    width: 100%;
}

.contact-section{
    padding: 20px;
}
.contact-section>h2{
    margin-bottom: 20px;
    font-family: monospace;
}
.contact-section>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:justify;
    color: #272727;
    margin-bottom: 20px;
}
.contact-info>p>a{
    text-decoration: none;
    color: #702d2d;
    font-size: 20px;
    margin-bottom: 12px;
    display: inline-block;
}
.contact-info p{
    font-size: 20px;
}
form{

}
.contact-form{
    background-color: lightgreen;
    padding: 10px;
    border-radius: 9px;
    margin-top: 20px;
}
.contact-form>h3{
    margin: 30px 0px 20px 0px;
    text-align: center;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form>div input, textarea{
    border-radius: 9px;
    padding: 10px 15px;
    font-size: 20px;
    margin-bottom: 15px;
    border: 1px solid #702d2d;
}
button[type="submit"]{
    font-size: 20px;
    display: flex;
    justify-self: center;
    width: 95%;
    justify-content: center;
    padding: 20px;
    border-radius: 9px;
    border: none;
    background-color:black;
    color: white;
    font-weight: bold;
    animation: pulse 2s ease infinite;
}
button[type="submit"]:hover{
    transition: 2s ease;
    background-color: #702d2d;
}

footer{
    background-color: black;
    padding: 20px;
}
.quick-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quick-links> h3{
    color: white;
    font: 25px bold;
    font-family: 'Courier New', Courier, monospace;
}
.quick-links a{
    text-decoration: none;
    color: white;
    font: 25px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}

footer>div>p{
    margin-top: 15px;
    color: white;
    text-align: center;
}
